@use "base" as *;

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $page-padding-default;
}

.navbar-light {
    color: $light-mode-text;
}

.navbar-dark {
    color: $dark-mode-text;
    background-color: $dark-mode-input;
}

.dark-mode-btn {
    cursor: pointer;
    border: 0;
}

.dark-mode-btn-light {
    background-color: white;
    color: $light-mode-text;
}

.dark-mode-btn-dark {
    background-color: $dark-mode-input;
    color: $dark-mode-text;
}

.home {
    min-height: 100vh;
    padding: $page-padding-default;
}

.home-light {
    background-color: $light-mode-background;
    color: $light-mode-text;
}

.home-dark {
    background-color: $dark-mode-background;
    color: $dark-mode-text;
}

.home-nav {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.countries {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
}

.country-card {
    width: 200px;
    img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
    .country-details {
        padding: 10px 20px;
        p {
            font-size: $homepage-font-size;
        }
    }
}

.country-card-light {
    background-color: white;
    color: $light-mode-text;
}

.country-card-dark {
    background-color: $dark-mode-input;
    color: $dark-mode-text;
}

.light-font-text {
    font-weight: $light-font-weight;
}

.bold-font-text {
    font-weight: $bold-font-weight;
}

@media screen and (max-width: 500px) {
    .home-nav {
        flex-direction: column;
    }
    
}