@use "base" as *;

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $page-padding-default;
}

.navbar-light {
    color: $light-mode-text;
}

.navbar-dark {
    color: $dark-mode-text;
    background-color: $dark-mode-input;
}

.dark-mode-btn {
    cursor: pointer;
    border: 0;
}

.dark-mode-btn-light {
    background-color: white;
    color: $light-mode-text;
}

.dark-mode-btn-dark {
    background-color: $dark-mode-input;
    color: $dark-mode-text;
}

.home {
    padding: $page-padding-default
}

.home-nav {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 500px) {
    .home-nav {
        flex-direction: column;
    }
    
}