@use "base" as *;


body {
  font-family: $primary-font-family;
  font-optical-sizing: auto;
  font-weight: $primary-font-weight;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
  margin: 0;
  padding: 0;
}
